<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MeyBank_Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>page1</display-name>
    <servlet-name>page1</servlet-name>
    <servlet-class>Controller.page1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page1</servlet-name>
    <url-pattern>/page1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>page2</display-name>
    <servlet-name>page2</servlet-name>
    <servlet-class>Controller.page2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page2</servlet-name>
    <url-pattern>/page2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>page3</display-name>
    <servlet-name>page3</servlet-name>
    <servlet-class>Controller.page3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page3</servlet-name>
    <url-pattern>/page3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>page4</display-name>
    <servlet-name>page4</servlet-name>
    <servlet-class>Controller.page4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page4</servlet-name>
    <url-pattern>/page4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetpassword</display-name>
    <servlet-name>forgetpassword</servlet-name>
    <servlet-class>Controller.forgetpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetpassword</servlet-name>
    <url-pattern>/forgetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>Controller.verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newpassword</display-name>
    <servlet-name>newpassword</servlet-name>
    <servlet-class>Controller.newpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newpassword</servlet-name>
    <url-pattern>/newpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>Controller.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyword</display-name>
    <servlet-name>verifyword</servlet-name>
    <servlet-class>Controller.verifyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyword</servlet-name>
    <url-pattern>/verifyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password</display-name>
    <servlet-name>password</servlet-name>
    <servlet-class>Controller.password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passwords</display-name>
    <servlet-name>passwords</servlet-name>
    <servlet-class>Controller.passwords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwords</servlet-name>
    <url-pattern>/passwords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact</display-name>
    <servlet-name>contact</servlet-name>
    <servlet-class>Controller.contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>Controller.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFunction</display-name>
    <servlet-name>AjaxFunction</servlet-name>
    <servlet-class>Controller.AjaxFunction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFunction</servlet-name>
    <url-pattern>/AjaxFunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeBankTypestep1</display-name>
    <servlet-name>ChangeBankTypestep1</servlet-name>
    <servlet-class>Controller.ChangeBankTypestep1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBankTypestep1</servlet-name>
    <url-pattern>/ChangeBankTypestep1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changebanktype2</display-name>
    <servlet-name>changebanktype2</servlet-name>
    <servlet-class>Controller.changebanktype2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changebanktype2</servlet-name>
    <url-pattern>/changebanktype2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction1</display-name>
    <servlet-name>transaction1</servlet-name>
    <servlet-class>Controller.transaction1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction1</servlet-name>
    <url-pattern>/transaction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction2</display-name>
    <servlet-name>transaction2</servlet-name>
    <servlet-class>Controller.transaction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction2</servlet-name>
    <url-pattern>/transaction2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tr_OTP</display-name>
    <servlet-name>Tr_OTP</servlet-name>
    <servlet-class>Controller.Tr_OTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tr_OTP</servlet-name>
    <url-pattern>/Tr_OTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayMentTR</display-name>
    <servlet-name>PayMentTR</servlet-name>
    <servlet-class>Controller.PayMentTR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayMentTR</servlet-name>
    <url-pattern>/PayMentTR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction_own</display-name>
    <servlet-name>transaction_own</servlet-name>
    <servlet-class>Controller.transaction_own</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction_own</servlet-name>
    <url-pattern>/transaction_own</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newbankaccount</display-name>
    <servlet-name>newbankaccount</servlet-name>
    <servlet-class>Controller.newbankaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newbankaccount</servlet-name>
    <url-pattern>/newbankaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IBG1</display-name>
    <servlet-name>IBG1</servlet-name>
    <servlet-class>Controller.IBG1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IBG1</servlet-name>
    <url-pattern>/IBG1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changelimit</display-name>
    <servlet-name>Changelimit</servlet-name>
    <servlet-class>Controller.Changelimit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changelimit</servlet-name>
    <url-pattern>/Changelimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_GetInformation</display-name>
    <servlet-name>User_GetInformation</servlet-name>
    <servlet-class>Controller.User_GetInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_GetInformation</servlet-name>
    <url-pattern>/User_GetInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Update</display-name>
    <servlet-name>User_Update</servlet-name>
    <servlet-class>Controller.User_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Update</servlet-name>
    <url-pattern>/User_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>Controller.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History_View</display-name>
    <servlet-name>History_View</servlet-name>
    <servlet-class>Controller.History_View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History_View</servlet-name>
    <url-pattern>/History_View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loan1</display-name>
    <servlet-name>Loan1</servlet-name>
    <servlet-class>Controller.Loan1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan1</servlet-name>
    <url-pattern>/Loan1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loan2</display-name>
    <servlet-name>Loan2</servlet-name>
    <servlet-class>Controller.Loan2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan2</servlet-name>
    <url-pattern>/Loan2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>Controller.admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_admin</display-name>
    <servlet-name>new_admin</servlet-name>
    <servlet-class>Controller.new_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_admin</servlet-name>
    <url-pattern>/new_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserData</display-name>
    <servlet-name>getUserData</servlet-name>
    <servlet-class>Controller.getUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserData</servlet-name>
    <url-pattern>/getUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getallaccount</display-name>
    <servlet-name>getallaccount</servlet-name>
    <servlet-class>Controller.getallaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getallaccount</servlet-name>
    <url-pattern>/getallaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewallbank</display-name>
    <servlet-name>viewallbank</servlet-name>
    <servlet-class>Controller.viewallbank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewallbank</servlet-name>
    <url-pattern>/viewallbank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockedAccount</display-name>
    <servlet-name>BlockedAccount</servlet-name>
    <servlet-class>Controller.BlockedAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockedAccount</servlet-name>
    <url-pattern>/BlockedAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccount</display-name>
    <servlet-name>EditAccount</servlet-name>
    <servlet-class>Controller.EditAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccount</servlet-name>
    <url-pattern>/EditAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllContent</display-name>
    <servlet-name>getAllContent</servlet-name>
    <servlet-class>Controller.getAllContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllContent</servlet-name>
    <url-pattern>/getAllContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContent</display-name>
    <servlet-name>EditContent</servlet-name>
    <servlet-class>Controller.EditContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContent</servlet-name>
    <url-pattern>/EditContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getallhistory</display-name>
    <servlet-name>getallhistory</servlet-name>
    <servlet-class>Controller.getallhistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getallhistory</servlet-name>
    <url-pattern>/getallhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTr</display-name>
    <servlet-name>ViewTr</servlet-name>
    <servlet-class>Controller.ViewTr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTr</servlet-name>
    <url-pattern>/ViewTr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactus</display-name>
    <servlet-name>contactus</servlet-name>
    <servlet-class>Controller.contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdmin</display-name>
    <servlet-name>updateAdmin</servlet-name>
    <servlet-class>Controller.updateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdmin</servlet-name>
    <url-pattern>/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gettimeofhistory</display-name>
    <servlet-name>gettimeofhistory</servlet-name>
    <servlet-class>Controller.gettimeofhistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gettimeofhistory</servlet-name>
    <url-pattern>/gettimeofhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>Controller.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
</web-app>